<ion-header class="ion-no-border">
  <app-header>
    <ion-buttons slot="end">
      <ion-button (click)="onRefresh()">Refresh</ion-button>
    </ion-buttons>
  </app-header>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <app-pure-wallet-page
      [name]="name | async"
      [balances]="balances | async"
      [actionSendMoneyEnabled]="actionSendMoneyEnabled | async"
      [actionVerifyProfileShown]="actionVerifyProfileShown | async"
    ></app-pure-wallet-page>
  </ion-grid>
</ion-content>
