<ion-header>
  <ion-toolbar>
    <ion-img
      *ngIf="organization !== 'nautilus'"
      slot="start"
      src="assets/logo/ripple.svg"
      class="w-28 mx-2"
    ></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
      <app-logout-button></app-logout-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center p-2">
    <ion-icon name="wallet" class="text-8xl"></ion-icon>
    <h3 class="font-semibold font-nasalization">
      {{ sessionQuery.name | async }}
    </h3>
    <p>Send or receive money quickly and easily, select an option below</p>
  </div>

  <app-balance-summary-card></app-balance-summary-card>

  <ion-list lines="none">
    <ion-item
      *ngIf="sessionQuery.showKYC && (sessionQuery.onfidoCheckIsClear | async) !== true"
      class="app-item"
      button
      detail
      detailIcon="chevron-forward-circle"
      class="app-item"
      routerLink="/kyc"
    >
      <ion-icon slot="start" name="finger-print"></ion-icon>
      <ion-label>
        <ion-text class="block font-bold"> Verify Profile </ion-text>
      </ion-label>
    </ion-item>

    <ng-container *ngFor="let item of actionItems">
      <ion-item
        class="app-item"
        button
        detail
        detailIcon="chevron-forward-circle"
        class="app-item"
        [routerLink]="item.path"
        [disabled]="item.disabled"
      >
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>
          <ion-text class="block font-bold"> {{item.title}} </ion-text>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
