<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bookmarks</ion-title>
    <ion-buttons slot="end">
      <app-logout-button></app-logout-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-new-bookmark></app-new-bookmark>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-bookmark-list></app-bookmark-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
