<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
    <ion-buttons slot="end">
      <app-logout-button></app-logout-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2 class="font-bold">Recent transactions</h2>

    <div class="text-center" *ngIf="historyQuery.selectLoading() | async">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

  <ion-list lines="full" mode="ios" *ngIf="transactions?.length; else empty">
    <ion-item *ngFor="let tx of transactions">
      <ion-icon
        slot="start"
        [name]="(tx?.Account | isMe) ? 'arrow-forward' : 'arrow-back'"
      ></ion-icon>
      <ion-label>
        <ion-text class="font-bold" color="primary">
          <small>
            {{(tx?.Account | isMe) ? 'Sent To' : 'Received From'}}
          </small>
        </ion-text>
        <h2>{{(tx?.Account | isMe) ? tx?.Destination : tx?.Account}}</h2>
        <h6>{{tx?.date | xrpDate}}</h6>
      </ion-label>
      <ion-note slot="end" color="primary">
        <small class="font-bold">
          {{tx?.Amount?.value | currency: tx?.Amount?.currency}}
        </small>
      </ion-note>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <div
      *ngIf="(historyQuery.selectLoading() | async) === false"
      class="ion-padding-horizontal ion-text-center"
    >
      <p>Your transactions list is empty</p>
    </div>
  </ng-template>
</ion-content>
