<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="font-audiowide font-bold">Receive</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" slot="icon-only">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1 class="font-semibold font-nasalization mb-0">Scan to pay me</h1>
  </div>
  <app-account-address
    [address]="account.walletId"
    [currency]="account.currency"
  ></app-account-address>
</ion-content>
