<form [formGroup]="form" (ngSubmit)="validateForm()" class="form-item">
  <ion-list lines="none" mode="ios" class="form-item">
    <ion-item *ngFor="let question of questions">
      <ion-label position="stacked">{{ question.text }} </ion-label>
      <ion-input
        type="text"
        [name]="question.field"
        [formControlName]="question.field"
      ></ion-input>
      <ion-note *ngIf="form.get(question.field)?.touched" slot="error"
        >Required
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-grid class="ion-no-padding !pt-3">
    <ion-row>
      <ion-col size="auto">
        <ng-content select="[actionButton]"></ng-content>
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" type="submit"
          >Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
