<ion-card class="app-item ion-text-center">
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col>
          <ion-card-title class="font-nasalization">Balances</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-spinner class="ion-float-right" *ngIf="isLoading"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <ion-list lines="none" *ngIf="balances?.length; else empty">
      <ion-item *ngFor="let balance of balances">
        <ion-label class="ion-text-right">
          <ion-text color="white" class="font-audiowide">
            {{ balance | assetAmount }}
          </ion-text>
        </ion-label>
        <div slot="end" class="w-12">
          <ion-text slot="end" color="secondary" class="font-bold">
            {{ balance | assetSymbol }}
          </ion-text>
        </div>
      </ion-item>
    </ion-list>

    <ng-template #empty>
      <p>There are currently no assets in your wallet.</p>
    </ng-template>
  </ion-card-content>
</ion-card>
