<ion-content>
  <ion-grid class="h-full">
    <ion-row class="h-full content-around px-5">
      <ion-col size="12">
        <img src="assets/img/logo.svg" width="150" class="mx-auto" />
        <img src="assets/img/nautilus wallet.svg" width="80%" class="mx-auto" />
      </ion-col>
      <ion-col size="12">
        <ion-button
          expand="block"
          shape="round"
          color="orange"
          routerLink="/register"
          transloco="LANDING.create"
        ></ion-button>
        <ion-button
          expand="block"
          shape="round"
          color="white"
          fill="outline"
          routerLink="/wallet"
          transloco="LANDING.open"
        ></ion-button>
      </ion-col>
      <ion-col size="12">
        <p class="ion-text-center">Terms & Conditions apply</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
