<ion-content>
  <ion-grid fixed class="h-full">
    <ion-row class="h-full content-around px-5">
      <ion-col size="12">
        <img src="assets/img/logo-icon.svg" class="block mx-auto w-3/5" />
        <img src="assets/img/logo-title.svg" class="block mx-auto" />
      </ion-col>
      <ion-col size="12">
        <ion-button
          expand="block"
          shape="round"
          routerLink="/register"
          transloco="LANDING.create"
        ></ion-button>
        <ion-button
          expand="block"
          shape="round"
          color="white"
          fill="outline"
          routerLink="/wallet-access"
          transloco="LANDING.open"
        ></ion-button>
      </ion-col>
      <ion-col size="12">
        <p class="ion-text-center">Terms & Conditions apply</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
