<ion-content color="prussian-blue">
  <ion-grid class="h-full sm:max-w-max">
    <ion-row class="h-full content-around px-5">
      <ion-col size="12">
        <img
          src="https://via.placeholder.com/150"
          width="150"
          class="rounded-full mx-auto"
        />
        <h1 class="ion-text-center font-black">NAUTILUS</h1>
      </ion-col>
      <ion-col size="12">
        <ion-button
          expand="block"
          shape="round"
          color="warning"
          routerLink="/register"
          transloco="LANDING.create"
        ></ion-button>
        <ion-button
          expand="block"
          shape="round"
          color="white"
          fill="outline"
          routerLink="/wallet"
          transloco="LANDING.open"
        ></ion-button>
      </ion-col>
      <ion-col size="12">
        <p class="ion-text-center">Terms & Conditions apply</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
