<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <h1 class="font-bold font-nasalization text-center">Sign Up</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="inputList ion-padding-horizontal">
        <ng-container>
          <ion-label position="stacked" for="firstName">First Name</ion-label>
          <ion-input
            type="text"
            formControlName="firstName"
            name="firstName"
            required
          ></ion-input>
          <p *ngIf="!nonValidSubmit && f.firstName.errors?.required">
            First Name Is Required
          </p>
        </ng-container>
        <ng-container>
          <ion-label position="stacked" for="lastName">Last Name</ion-label>
          <ion-input
            type="text"
            formControlName="lastName"
            required
          ></ion-input>
          <p *ngIf="!nonValidSubmit && f.lastName.errors?.required">
            Last Name Is Required
          </p>
        </ng-container>
        <ng-container>
          <ion-label position="stacked" for="mobile">Mobile</ion-label>
          <ion-input
            type="text"
            formControlName="mobile"
            [inputMask]="phoneInputMask"
            required
          ></ion-input>
          <p *ngIf="!nonValidSubmit && f.mobile.errors?.required">
            Mobile Number Is Required
          </p>
          <p
            *ngIf="!nonValidSubmit && (f.mobile.errors?.minlength || f.mobile.errors?.maxlength)"
          >
            Invalid Phone Number
          </p>
        </ng-container>
        <ng-container>
          <ion-label position="stacked" for="pin">PIN</ion-label>
          <ion-input
            type="password"
            formControlName="pin"
            minlength="4"
            maxlength="10"
            [inputMask]="numInputMask"
            required
          ></ion-input>
          <p
            *ngIf="!nonValidSubmit && f.pin.errors?.required"
          >
            PIN Is Required
          </p>
          <p
            *ngIf="!nonValidSubmit && f.pin.errors?.minlength"
          >
            A Minimum Of 4 Digits Is Required
          </p>
          <p
            *ngIf="!nonValidSubmit && f.pin.errors?.maxlength"
          >
            Your PIN Can Only Be Up To 10 Characters
          </p>
        </ng-container>
        <ng-container>
          <ion-label position="stacked" for="confirmPin">Confirm PIN</ion-label>
          <ion-input
            type="password"
            formControlName="confirmPin"
            minlength="4"
            maxlength="10"
            [inputMask]="numInputMask"
            required
          ></ion-input>
          <p *ngIf="!nonValidSubmit && f.confirmPin.errors?.required">
            PIN Confirmation Is Required
          </p>
          <p
            *ngIf="!nonValidSubmit && f.confirmPin.errors?.minlength"
          >
            A Minimum Of 4 Digits Is Required
          </p>
          <p
            *ngIf="!nonValidSubmit && f.confirmPin.errors?.maxlength"
          >
            Your Can Only Be Up To 10 Characters
          </p>
          <p
            *ngIf="!nonValidSubmit && registrationForm.errors?.misMatch"
          >
            PIN Do Not Match
          </p>
        </ng-container>
        <ion-button expand="block" shape="round" type="submit">
          Submit</ion-button
        >
      </div>
    </form>
  </ion-grid>
</ion-content>
