<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <h1 class="font-bold font-nasalization text-center">Sign Up</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <ion-list class="inputList" lines="none">
      <ion-item>
        <ion-label position="stacked" for="firstName">First Name</ion-label>
        <ion-input
          type="text"
          formControlName="firstName"
          name="firstName"
        ></ion-input>
        <p
          *ngIf="(f.firstName.touched && f.firstName.errors?.required) || !nonValidSubmit && f.firstName.errors?.required"
        >
          First Name Is Required
        </p>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" for="lastName">Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
        <p
          *ngIf="(f.lastName.touched && f.lastName.dirty && f.lastName.errors?.required) || !nonValidSubmit && f.lastName.errors?.required"
        >
          Last Name Is Required
        </p>
      </ion-item>
      <ion-item >
        <ion-label position="stacked" for="mobile">Mobile</ion-label>
        <ion-input type="text" formControlName="mobile"></ion-input>
        <p
          *ngIf="(f.mobile.touched && f.mobile.errors?.required) ||!nonValidSubmit && f.mobile.errors?.required"
        >
          Mobile Number Is Required
        </p>
        <p
          *ngIf="(f.mobile.touched && f.mobile.dirty  && (f.mobile.errors?.minlength || f.mobile.errors?.maxlength)) || !nonValidSubmit && (f.mobile.touched && f.mobile.dirty  && (f.mobile.errors?.minlength || f.mobile.errors?.maxlength))"
        >
          Invalid Phone Number
        </p>
      </ion-item>
      <ion-item >
        <ion-label position="stacked" for="pin">Password</ion-label>
        <ion-input type="password" formControlName="pin"></ion-input>
        <p
          *ngIf="(f.pin.touched && f.pin.errors?.required) || !nonValidSubmit && f.pin.errors?.required"
        >
          Pin Is Required
        </p>
        <p
          *ngIf="(f.pin.touched && f.pin.errors?.minlength) || !nonValidSubmit && (f.pin.touched && f.pin.errors?.minlength)"
        >
          A Minimum Of 4 Digits Is Required
        </p>
        <p
          *ngIf="(f.pin.touched && f.pin.dirty && f.pin.errors?.maxlength) || !nonValidSubmit && (f.pin.touched && f.pin.errors?.minlength)"
        >
          Your Pin Can Only Be Up To 10 Characters
        </p>
      </ion-item>
      <ion-item >
        <ion-label position="stacked" for="confirmPin">Confirm Pin</ion-label>
        <ion-input type="password" formControlName="confirmPin"></ion-input>
        <p
          *ngIf="(f.confirmPin.touched && f.confirmPin.errors?.required) || !nonValidSubmit && f.confirmPin.errors?.required"
        >
          Pin Confirmation Is Required
        </p>
        <p
          *ngIf="(f.confirmPin.touched && f.confirmPin.errors?.minlength) || !nonValidSubmit && (f.confirmPin.touched && f.confirmPin.errors?.minlength)"
        >
          A Minimum Of 4 Digits Is Required
        </p>
        <p
          *ngIf="(f.confirmPin.touched && f.confirmPin.errors?.maxlength) || !nonValidSubmit && (f.confirmPin.touched && f.confirmPin.errors?.maxlength)"
        >
          Your Pin Can Only Be Up To 10 Characters
        </p>
        <p
          *ngIf="(f.confirmPin.touched && registrationForm.errors?.misMatch) || !nonValidSubmit && (f.confirmPin.touched && registrationForm.errors?.misMatch)"
        >
          Pins Do Not Match
        </p>
      </ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <div
              *ngIf="nonValidSubmit; else submittable"
              (click)="showErrors()"
            >
              <ion-button
                disabled="true"
                expand="block"
                shape="round"
                type="submit"
                >Submit</ion-button
              >
            </div>
            <ng-template #submittable>
              <ion-button
                id="submittable"
                [disabled]="registrationForm.errors ||
              f.firstName.errors ||
              f.lastName.errors ||
              f.mobile.errors ||
              f.pin.errors ||
              f.confirmPin.errors
              "
                expand="block"
                shape="round"
                type="submit"
                >Submit</ion-button
              >
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
