<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <h1 class="font-bold font-nasalization text-center">Sign Up</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <ion-list class="inputList">
      <ion-item lines="none">
        <ion-label position="stacked" for="firstName">First Name</ion-label>
        <ion-input type="text" formControlName="firstName" name="firstName"></ion-input>
        <p *ngIf="f.firstName.touched && f.firstName.errors?.required">First Name Is Required</p>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" for="lastName">Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
        <p *ngIf="f.lastName.touched && f.lastName.errors?.required">Last Name Is Required</p>
      </ion-item>
      <!-- <ion-item lines="none">
           <ion-label position="stacked" for="mobile">Mobile</ion-label>
           <ion-input type="text" formControlName="mobile"></ion-input>
           <p *ngIf="f.mobile.touched && f.mobile.errors?.required">Mobile Number Is Required</p>
           </ion-item> -->
      <ion-item lines="none">
        <ion-label position="stacked" for="password">PIN</ion-label>
        <ion-input type="password" inputmode="numeric" formControlName="password"></ion-input>
        <p *ngIf="f.password.touched && f.password.errors?.required">PIN Is Required</p>
        <p *ngIf="f.confirmPassword.touched && f.password.errors?.minlength">A Minimum Of 4 Digits Is Required</p>
        <p *ngIf="f.confirmPassword.touched && f.password.errors?.maxlength">Your PIN Can Only Be Up To 10 Characters</p>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" for="confirmPassword"
          >Confirm PIN</ion-label
        >
        <ion-input
          type="password"
          inputmode="numeric"
          formControlName="confirmPassword"
        ></ion-input>
        <p *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.required">PIN Confirmation Is Required</p>
        <p *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.minlength">A Minimum Of 4 Digits Is Required</p>
        <p *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.maxlength">Your PIN Can Only Be Up To 10 Characters</p>
        <p *ngIf="f.confirmPassword.touched && registrationForm.errors?.misMatch">PIN Does Not Match</p>


      </ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button
            [disabled]="registrationForm.errors ||
            f.firstName.errors ||
            f.lastName.errors ||
            f.password.errors ||
            f.confirmPassword.errors
            " expand="block" shape="round" type="submit"
              >Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
