<ion-header>
  <ion-toolbar>
    <ion-title>Pull Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group class="mx-3">
    <ion-accordion
      value="scanner"
      (click)="action.toggleCamera()"
      [disabled]="action.isLoading"
    >
      <ion-item slot="header" button detail detailIcon="chevron-forward-circle">
        <ion-icon slot="start" name="qr-code"></ion-icon>
        <ion-label>
          <ion-text class="block font-bold"> Scan QR Code </ion-text>
        </ion-label>
      </ion-item>
      <div class="ion-padding ion-text-center font-nasalization" slot="content">
        <ion-spinner *ngIf="action.isLoading"></ion-spinner>
        <ngx-scanner-qrcode
          [hidden]="action.isLoading"
          #action="scanner"
          (data)="walletAddress = $event"
        ></ngx-scanner-qrcode>

        <div *ngIf="!action.isLoading">
          <span>Wallet Address</span>

          <div class="border border-white border-dashed p-2 my-2">
            {{walletAddress}}
          </div>
          <ion-button *ngIf="walletAddress" expand="block" shape="round"
            >CONFIRM
          </ion-button>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion
      value="textarea"
      (click)="action.isStart ? action.toggleCamera() : null"
    >
      <ion-item slot="header" button detail detailIcon="chevron-forward-circle">
        <ion-icon slot="start" name="text"></ion-icon>
        <ion-label>
          <ion-text class="block font-bold"> Enter address manually </ion-text>
        </ion-label>
      </ion-item>
      <div class="ion-padding ion-text-center" slot="content">
        <ion-textarea
          type="text"
          placeholder="Enter recipient's wallet address"
          class="p-0"
          [(ngModel)]="walletAddress"
        ></ion-textarea>
        <div class="pt-2">
          <ion-button *ngIf="walletAddress" expand="block" shape="round"
            >CONFIRM
          </ion-button>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
