<ion-header>
  <ion-toolbar>
    <ion-title>nfc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="check()"
          >Write
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="write()"
          >Write
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="warning" (click)="scan()"
          >Scan
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
