<ion-list lines="none" *ngIf="hideSavedWalletAddress">
  <ion-list-header>
    <ion-label color="primary">
      <h3 class="font-nasalization">Saved Addresses</h3>
    </ion-label>
  </ion-list-header>

  <div *ngIf="quickAccessQuery.selectCount() | async; else empty">
    <ng-container *ngFor="let address of quickAccessQuery.selectAll() | async">
      <ion-item class="app-item" *ngIf="address">
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label>
          <h2 class="!font-black">{{ address.preferedName }}</h2>
          <h6>{{ address.walletAddress }}</h6>
        </ion-label>
        <ion-buttons>
          <ion-button (click)="copyAddress(address.walletAddress)">
            <ion-icon slot="icon-only" name="copy"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteAddress(address)">
            <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>
  </div>

  <ng-template #empty>
    <div class="ion-padding-horizontal ion-text-center">
      <p>No Adress is saved.</p>
    </div>
  </ng-template>
</ion-list>
