<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="print:hidden">
      <ion-button [routerLink]="['/']">
        <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- TODO(Pi): Factor this out to component with walletId as input? -->
  <ion-grid *ngIf="sessionQuery.walletId | async as walletId">
    <ion-row id="print-section">
      <ion-col size="12">
        <qrcode
          [qrdata]="walletId"
          errorCorrectionLevel="H"
          elementType="svg"
          cssClass="children:w-full children:h-auto"
          [margin]="2"
        ></qrcode>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <h2 class="font-nasalization">Address</h2>
        <div class="border-dashed border-2 rounded p-3 my-2">
          <ion-text class="font-bold">{{walletId}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="print:hidden">
      <ion-col>
        <ion-button
          id="copy-button"
          expand="block"
          fill="outline"
          color="white"
          shape="round"
          (click)="copyAddress(walletId)"
        >
          <ion-icon name="copy-outline"></ion-icon> Copy address
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          expand="block"
          fill="outline"
          color="white"
          shape="round"
          (click)="print()"
        >
          <ion-icon name="print-outline"></ion-icon> Print page
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-button expand="block" shape="round" routerLink="/" class="print:hidden"
      >Home
    </ion-button>
  </ion-grid>
</ion-content>
