<ion-header>
  <ion-toolbar>
    <ion-title>Search wallet address</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list lines="none" class="form-item">
            <ion-item>
              <ion-input placeholder="Phone Number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="ID Number"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button shape="round" expand="block" color="primary"
            >Seacrh
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <hr class="bg-white" />
    <ion-list lines="full">
      <ion-item>
        <ion-icon slot="start" name="wallet"></ion-icon>
        <ion-label class="ion-text-wrap font-bold">
          rK32SuHkWboCgPbLsQXJeExeEaMFKi1CVx
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
