<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Become a connector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center text-center">
      <ion-col size="12">
        <p>Share access to your app with others.</p>
        <p>0.1% of each transaction will be paid into your wallet.</p>
      </ion-col>
      <ion-col size="auto" *ngIf="sessionQuery.walletId | async as walletId">
        <ion-item lines="none" color="primary-background">
          <ion-checkbox slot="start" [(ngModel)]="isConfirmed"></ion-checkbox>
          <ion-label class="ion-text-wrap">
            <p>I confirm that I am the owner of this device.</p>
          </ion-label>
        </ion-item>
        <ion-button
          shape="round"
          [disabled]="!isConfirmed"
          (click)="optin(walletId)"
          >Become a connector
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
