<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="ion-text-center p-2">
    <h1 class="font-semibold font-nasalization">Send Money</h1>
  </div>
  <!-- <ion-searchbar class="px-3"></ion-searchbar> -->

  <ion-input type="number" [(ngModel)]="amount"></ion-input>

  <ion-list>
    <ion-item-group *ngFor="let item of actionItems">
      <ion-list-header>
        <ion-label>
          <h3>{{item.label}}</h3>
        </ion-label>
      </ion-list-header>
      <app-action-item
        [title]="item.title"
        [icon]="item.icon"
        [disabled]="item.disabled"
        (click)="execItemAction(item.action)"
      ></app-action-item>
    </ion-item-group>
  </ion-list>
</ion-content>
