<ion-list>
  <ion-list-header>
    <ion-label color="primary">
      <h1 class="font-nasalization">Recipients list</h1>
    </ion-label>
  </ion-list-header>
  <ion-item class="app-item">
    <ion-icon slot="start" name="bookmark"></ion-icon>
    <ion-label>
      <h2>bookmark?.name</h2>
      <p>bookmark?.address</p>
    </ion-label>
    <ion-buttons>
      <ion-button (click)="sendFund()">
        <ion-icon slot="icon-only" name="cash"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteBookmark()">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
