<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center p-2">
    <h1 class="font-semibold font-nasalization ion-text-capitalize">
      {{transferType === 'pay' ? 'Send' : 'Receive'}} Money
    </h1>
  </div>

  <ion-list>
    <ion-item-group *ngFor="let item of actionItems">
      <app-action-item
        [showItem]="item?.showItem"
        [title]="item.title"
        [icon]="item.icon"
        (click)="execItemAction(item.action)"
      ></app-action-item>
    </ion-item-group>
  </ion-list>
</ion-content>
