<ion-grid>
  <ion-row>
    <ion-col>
      <app-pay-from-to
        [name]="name"
        [balance]="balance"
        [receiverAddress]="receiverAddress"
      ></app-pay-from-to>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <app-pay-amount-form
        [balance]="balance"
        [maxAmount]="maxAmount"
        (amountSubmitted)="onAmountSubmitted($event)"
        [autofocus]="autofocus"
        [setInitialAmountValue]="setInitialAmountValue"
      ></app-pay-amount-form>

      <p class="text-sm text-center">
        Please check the payment amount carefully. Transaction fees
        <!-- XXX(Pi): Comment this amount out for now, until we have a better idea of what's needed here. -->
        <!-- up to R0.01 -->
        apply.
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
