<ion-header>
  <app-header>
    <ion-buttons slot="end">
      <ion-button (click)="onRefresh()">
        <ion-icon slot="icon-only" name="refresh-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </app-header>
</ion-header>

<div class="ion-text-center p-2">
  <h3 class="font-semibold font-nasalization">Delete My wallet</h3>
  <p style="font-size: 80%">
    You will need to enter a wallet address to send your remaining XRP balance
    to.
  </p>
</div>

<ion-grid fixed>
  <app-balance-summary-card
    [balances]="balances | async"
    [isLoading]="balancesIsLoading"
  ></app-balance-summary-card>

  <ion-content>
    <p class="ion-text-center p-2">Where should the funds be deposited?</p>
    <ion-list>
      <ion-item-group *ngFor="let item of actionItems">
        <app-action-item
          [title]="item.title"
          [icon]="item.icon"
          [disabled]="item.disabled"
          (click)="execItemAction(item.action)"
        ></app-action-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-grid>
