<div class="ion-text-center p-2">
  <fa-icon [icon]="icons.faWallet" size="5x"></fa-icon>
  <h3 class="font-semibold font-nasalization">{{ name }}</h3>
  <p>Send or receive money quickly and easily, select an option below</p>
</div>

<app-balance-summary-card></app-balance-summary-card>

<ion-list>
  <app-action-item
    *ngIf="actionVerifyProfileShown"
    title="Verify Profile"
    [icon]="icons.faFingerprint"
    path="/kyc"
  ></app-action-item>

  <app-action-item
    title="Send Money"
    [icon]="icons.faCreditCard"
    path="/wallet/send-funds"
    [disabled]="!actionSendMoneyEnabled"
  ></app-action-item>

  <app-action-item
    *ngIf="actionTopUpUrl"
    title="Top Up Wallet"
    [icon]="icons.faDonate"
    [url]="actionTopUpUrl"
  ></app-action-item>

  <app-action-item
    *ngIf="actionWithdrawUrl"
    title="Withdraw"
    [icon]="icons.faHandHoldingUsd"
    [url]="actionWithdrawUrl"
  ></app-action-item>

  <app-action-item
    title="Receive"
    [icon]="icons.faQrcode"
    path="/wallet/receive"
    [disabled]="!actionReceiveEnabled"
  ></app-action-item>

  <app-action-item
    *ngIf="actionMyTransactionsUrl"
    title="My Transactions"
    [icon]="icons.faReceipt"
    [url]="actionMyTransactionsUrl"
  ></app-action-item>
</ion-list>
