<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="h-full">
    <ion-row class="h-full content-around px-5">
      <ion-col size="12" class="text-center">
        <ng-container *ngIf="hasCamera">
          <ion-button expand="block" shape="round" (click)="openScanner()"
            >Access via QR Code
          </ion-button>
          <p>OR</p>
        </ng-container>
        <ion-textarea
          placeholder="Enter wallet address"
          [(ngModel)]="address"
        ></ion-textarea>
        <ion-button
          [disabled]="!validatedAddress"
          expand="block"
          shape="round"
          class="mt-4"
          (click)="confirmAddress()"
          >Confirm</ion-button
        >
        <app-quick-access></app-quick-access>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Show PIN entry modal on `isPinEntryOpen`. -->
<!-- Calls `onPinConfirmed` to continue with wallet opening process. -->
<ion-modal [isOpen]="isPinEntryOpen" (didDismiss)="isPinEntryOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-button slot="start" (click)="isPinEntryOpen = false">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-pin-entry
        class="h-full flex ion-justify-content-center ion-align-items-center"
        (pinConfirmed)="isPinEntryOpen = false; onPinConfirmed($event)"
        titleHeading="Enter Pin"
        [wallet_id]="address"
      ></app-pin-entry>
    </ion-content>
  </ng-template>
</ion-modal>
