@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: "nasalization";
  src: url("../assets/fonts/nasalization.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&display=swap");

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Open Sans", sans-serif;

  // See Nautilus UI Kit:
  // https://www.figma.com/file/zYVHu1EwCIDCbQp8rFscyA/Nautilus-Branding?node-id=23%3A128

  /** colors **/
  // UI Kit: Primary 1 - Prussian Blue
  --ion-color-primary-background: #003450;
  --ion-color-primary-background-rgb: 0, 52, 80;
  --ion-color-primary-background-contrast: #ffffff;
  --ion-color-primary-background-contrast-rgb: 255, 255, 255;
  --ion-color-primary-background-shade: #002e46;
  --ion-color-primary-background-tint: #1a4862;

  // UI Kit: Primary 2 - Portland Orange
  --ion-color-primary: #ff642e;
  --ion-color-primary-rgb: 255, 100, 46;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e05828;
  --ion-color-primary-tint: #ff7443;

  // UI Kit: Secondary - Viridian Green
  --ion-color-secondary: #209c95;
  --ion-color-secondary-rgb: 32, 156, 149;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1c8983;
  --ion-color-secondary-tint: #36a6a0;

  // UI Kit: Tertiary - Blue Jeans
  --ion-color-tertiary: #02a7ff;
  --ion-color-tertiary-rgb: 2, 167, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0293e0;
  --ion-color-tertiary-tint: #1bb0ff;

  // UI Kit: Success - Caribbean Green
  --ion-color-success: #11ca92;
  --ion-color-success-rgb: 17, 202, 146;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #0fb280;
  --ion-color-success-tint: #29cf9d;

  // UI Kit: Warning - Mustard
  --ion-color-warning: #ffd952;
  --ion-color-warning-rgb: 255, 217, 82;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bf48;
  --ion-color-warning-tint: #ffdd63;

  // Ui Kit: Danger - Red Salsa
  --ion-color-danger: #ff2d42;
  --ion-color-danger-rgb: 255, 45, 66;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e0283a;
  --ion-color-danger-tint: #ff4255;

  // UI Kit: Support 1 - USAFA Blue
  --ion-color-dark: #025581;
  --ion-color-dark-rgb: 2, 85, 129;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #024b72;
  --ion-color-dark-tint: #1b668e;

  // UI Kit: Medium - Morning Blue
  --ion-color-medium: #92a2a1;
  --ion-color-medium-rgb: 146, 162, 161;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808f8e;
  --ion-color-medium-tint: #9dabaa;

  // UI Kit: Light - Gainsboro
  --ion-color-light: #dadfdf;
  --ion-color-light-rgb: 218, 223, 223;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c0c4c4;
  --ion-color-light-tint: #dee2e2;

  // UI Kit: Support 2 - Deep Jungle Green
  --ion-color-jungle-green: #1a4c48;
  --ion-color-jungle-green-rgb: 26, 76, 72;
  --ion-color-jungle-green-contrast: #ffffff;
  --ion-color-jungle-green-contrast-rgb: 255, 255, 255;
  --ion-color-jungle-green-shade: #17433f;
  --ion-color-jungle-green-tint: #315e5a;

  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

.ion-color-primary-background {
  --ion-color-base: var(--ion-color-primary-background);
  --ion-color-base-rgb: var(--ion-color-primary-background-rgb);
  --ion-color-contrast: var(--ion-color-primary-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-background-shade);
  --ion-color-tint: var(--ion-color-primary-background-tint);
}

.ion-color-jungle-green {
  --ion-color-base: var(--ion-color-jungle-green);
  --ion-color-base-rgb: var(--ion-color-jungle-green-rgb);
  --ion-color-contrast: var(--ion-color-jungle-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-jungle-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-jungle-green-shade);
  --ion-color-tint: var(--ion-color-jungle-green-tint);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}
