<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="ion-text-center p-2">
    <h1 class="font-semibold font-nasalization">Pay</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="mx-0">
          <ion-list lines="full" class="p-0">
            <ion-item color="white">
              <ion-icon name="wallet" color="primary" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h2 class="!font-black">From:</h2>
                <p>{{sessionQuery.name | async}}</p>
                <small>Available Balance</small>
              </ion-label>
              <ion-icon src="assets/icon/xrp-symbol-black.svg"></ion-icon>
              <ion-text slot="end" color="primary">
                <h3 class="font-semibold m-0">
                  {{sessionQuery.balance| async}}
                </h3>
              </ion-text>
            </ion-item>
            <ion-item color="white">
              <ion-icon name="qr-code" color="primary" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">
                <h2 class="!font-black">To:</h2>
                <p>{{wallet}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
          <ion-item lines="none">
            <ion-input
              inputmode="tel"
              placeholder="Amount"
              type="text"
              formControlName="amount"
              [inputMask]="currencyInputMask"
            ></ion-input>
            <ion-icon
              src="assets/icon/xrp-symbol-white.svg"
              size="small"
              slot="end"
            ></ion-icon>
          </ion-item>
          <div class="m-5">
            <ion-button expand="block" shape="round" type="submit"
              >PAY
            </ion-button>
            <p class="text-sm text-center">
              Please check payment amount carefully. Transaction fees up to XRP
              1 apply.
            </p>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
